/* ================================= 
  Base Styles
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: whiteSmoke;
}

.row {
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  flex: 1;
  background: #fff;
}

.banner{
  flex-direction: column;
 
}


.gallery li {
	display:flex;
	background-color: #fff;
	color: #bdc3c7;
        width: 90%;
	border-radius: 3px;

}





/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-header, 
.main-nav,
.row,
.banner,
.main-footer
{
  display: flex;
}	

.main-header {
  flex-direction: column;
  align-items: center;
}
.main-footer{
	flex: column;
	align-items: center;
	background: whiteSmoke;
	justify-content: space-beteween;
}

.row {
  flex-wrap: wrap;
  flex-direction: column;
  height: 1250px;
 
  align-self: auto;
}
.gallery li{
	width: 370px;
	padding-right:10px;
}

.banner {
  flex-direction: row;
}

.logo {
	flex-direction: row;
        margin: auto;
        justify-content: flex-end;
        
}

.tagline {

        justify-content: flex-start;

	flex-direction: row;
	order: -1;
	margin: auto;
      
}


}

@media (min-width: 1025px) {

.main-header {
  flex-direction: row;
  justify-content: space-between;
}
.row {
	height: 800px;
     
}

.gallery li {
	flex-direction: column;
	flex-wrap: wrap;
        align-self:auto;
        justify-content: space-between;
}
.banner{
  flex-direction: row;
}
}
