/* ================================= 
  Base Styles
==================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}

.banner{
  flex-direction: column;
 
}


./*********************************************
PAGE: PORTFOLIO
**********************************************/

.gallery{
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery li {

	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

.gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-header, 
.main-nav,
.row,
.banner
{
  display: flex;
}	

.main-header {
  flex-direction: column;
  align-items: center;
}

.gallery li {
 flex-direction: column;
 flex-wrap: wrap;
 flex: 2;

}
.banner{
  flex-direction: row;
}

.logo {
	flex-direction: row;
        margin: auto;
        justify-content: flex-end;
        
}

.tagline {

        justify-content: flex-start;

	flex-direction: row;
	order: -1;
	margin: auto;
      
}


}

@media (min-width: 1025px) {

.main-header {
  flex-direction: row;
  justify-content: space-between;
}

.primary {
  flex: 3;
}
.banner{
  flex-direction: row;
}
}
