/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
	display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: linear-gradient #fff;
      }

ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

p   {
      font-size: 1em;
      margin-bottom: 1.8em;
     }
       
h2,
h3,
a {
  color:  black;
  }

h2,
h3 {
    margin-top: 0;
   }
     
h4 {
     	text-align: center;
     	justify-content: center;
     	items-align: center;
     	width: 320px;
     	font-size: 1em;
	color: gray;
     }
     
h3{
	text-align: center;
  }
  
a {
	text-decoration: none;
   }
   
img {
	max-width: 100%;
   }

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
      }
   
.footer-name {
	font-size: 1.35em;
	margin: 0;
      }  
      
ul.main-nav li {
  padding:.5em;
  margin:.5em;
  background-color:#fff;
       }

.main-nav {
	margin-top: 5px;
       
          }

.name a,
.main-nav a {
	 
	text-align: center;
	display: block;
	padding: 10px 15px;
      }
   
.main-nav a {
	font-size: .95em;
	color:  #3a3a3a;
	text-transform: uppercase;

            }
      
.footer-name  {
       	margin-right: 90px;
 	margin-left: 10px;
        order: -1;
        float: left;
            }
 .main-nav-footer a {
 	display: none;
 }
 
 b{
 	color: black;
 }
 
 .main-footer b {
 	color: red;
 	font-size: 1.25em;
        margin-right: 10px;
 	margin-left: 5px;
 	height: 85.2969px;
 }


/* ---- Layout Containers ---- */

.main-header {

	padding-top: .5em;
	padding-bottom: .5em;
	background: whitesmoke;
            }

.main-footer {

        margin-top:30px;
	margin-bottom: 0;
        flex-direction: row;
	justify-content: space-between;	
             }

 .main-footer a {
 	
        color: black;
        font-size: .95em;
             }

.row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;
}

.container {
  margin: 45px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}


.row {  
  flex: 1;
  background: #fff;
  justify-content: center;
  align-self: center;
  
     }
     
.banner {
	color: #fff;
	padding-top: 3.2em 0;
	margin-bottom: 24px;
	flex-direction: column;
        background: whitesmoke;
   
        }

.banner-footer {
	 background: linear-gradient(whitesmoke, #fff);
	 text-align: center;
	 padding-right: 2em;
	 padding-left: 2em;
	 color: lightgray;
	 justify-content: space-around;
         align-self: center;
        
            }
  .banner-footer li {
  	color: black;
  }
 .banner-footer-2 {
  width: 90%;	
  align-items: center;
  justify-content: space-around;
  align-self: center;
  border-bottom: 1px solid lightgray;

 }

.gallery li {
	background-color: #fff;
	color: #bdc3c7;
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
	width: 320px;
	text-align: center;

}

.gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7
}

/* ---- Page Elements ---- */

.banner-image {
        max-width: 100%;
        padding-right:10px;
        padding-left:10px;
        margin: 2em auto;
        border-radius: 3px;
        box-shadow: 0px 1px 0px rgba(52, 73, 94, 0.2);
        }
 
.tagline {
	max-width: 50%;
	padding-left: 10px;
	color: gray;
	padding-right: 1em;
	padding-left: 1em;
	text-align: left;
          }
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-header,
.row,
.banner,
.row-prtfolio,
.container,
.main-footer,
.banner-footer,

        {
	width: 90%;
	margin: 0 auto;
	}
	
.tagline {
	font-size: 1.4em;
	color: black;
	}
.main-header, 
.main-nav,
.main-nav-footer,
.row,
.banner,
.main-footer,
.banner-footer,
.gallery,
.container,
.row-portfolio,
.banner-footer-2 {
         display: flex;
            }	

.main-header {
          margin-top: 15px;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background: whitesmoke;
             }
 .main-footer {
 	padding-top: 15px;
 }
 .main-footer a {
 	
        color: black;
        font-size: 1px;
             }
 .footer-name  {
     order: -1;
     justify-content: space-between;
     display: inline-block;
     float: left;
     margin-right: 265px;
            }   
 .main-nav-footer {
 	float: right;
        margin-left: 175px;
 }


 .footer-name a,
 .main-nav-footer a {
	justify-content: space-around;
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	font-size: .95em;
      }

 .banner-footer-2 {
        align-items: center;
        justify-content: space-between;
        align-self: center;
        font-size:.95em;
        padding-bottom: 60px;
               }

.row
       {
     flex-wrap: wrap;
     flex-direction: row;
     height: 1100px;
     justify-content: space-around;
     align-self: center;
     background: #fff;
            }
    
.row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;
  } 
  
 .container {
     flex-wrap: wrap;
     flex-direction: row;
     height: 1100px;
     justify-content: space-around;
     align-self: center;
     background: #fff;
 }


.banner-footer {
        flex-direction: column
	justify-content: space-between;
	flex-wrap: wrap;
        background: linear-gradient(whitesmoke, #fff);
}

.banner-footer h4 {
        color: gray;	
        font-size: 1.4em;
}

.gallery-1,
.gallery-2 {
        margin-top: 30px;	
}

.gallery li p {
         text-align: center;
         color: gray;
             }

.banner {
         flex-direction: row;
         justify-content: space-around;
         background: whitesmoke;
        }

.tagline {
          order: -1;
         }

 h4{
     	margin-left: auto;
     	margin-right: auto;
     	justify-content: center;
     	items-align: center;
     	width: 885.594px;
     	font-size: 1.4em;
        color:gray;
	margin-bottom: 0;
     }
     
 ul.main-nav li 
  {
  padding:.5em;
  margin:.5em;
  background-color:whitesmoke;
}
 .banner-image {
 	padding: 15px;
 	margin-top: 15px;
   }  

}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1025px) {

body{
 background: whitesmoke;
}

.row,
.container,
.main-footer,
.main-header,
.banner,
.row-portfolio,
.banner-footer,
.banner-footer-2
        {
	width: 80%;
	max-width: 1150px;
	}

.main-header {
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    background: whitesmoke;
    margin-left: 125px;
    max-width: 100%;
           }
.main-footer a {
     color: black;
      
           }
           
.main-footer {
	background: whitesmoke;
	margin-left: 125px;
}

.main-nav-footer a {
      
      }
      
         
.footer-name {
     margin-left: 10px;
      }  
      
                
.row {   
	flex-direction: row;
	flex: 2 800px;
	 justify-content: center;
         align-self: center;
         background: #fff;
  
      }
      
 .row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;
  
 
}


.container {
	flex-direction: row;
	flex-wrap: wrap;
        height: 850px;
        background:white;
}

.gallery-1,
.gallery-2,
.gallery-3 {
	margin-top:50px;
}

.banner {
        flex-direction: row;
        justify-content: space-around;
        background: whitesmoke;
        margin-left: 125px;
        width: 80%;
       
        }
 .banner-footer {
 	background:whitesmoke;
 	width: 80%;
 }
 
  .main-nav-footer {
 	float: right;
        margin-left: 320px;
 }


        
  .banner-footer-2 {
  	margin-bottom: 20px;
  	
  }
        
 h4  {
     	margin-left: auto;
     	margin-right: auto;
     	justify-content: center;
     	items-align: center;
     	width: 1025px;
     
     }
     
 ul.main-nav li 
   {
  padding:.5em;
  margin:.5em;
  background-color: whitesmoke;
   }
  
}
