/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
	display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: whitesmoke;
      }

ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

p   {
      font-size: 1em;
      margin-bottom: 1.8em;
     }
       
h2,
h3,
a {
  color:  black;
  }

h2,
h3 {
    margin-top: 0;
   }
     
h4 {
     	text-align: center;
     	justify-content: center;
     	items-align: center;
     	width: 320px;
     	font-size: 1em;
	
	color: gray;
     	
     }
     
h3{
	text-align: center;
  }
  
a {
	text-decoration: none;
   }
   
img {
	max-width: 100%;
   }

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
      }
   
.footer-name {
	font-size: 1.35em;
	margin: 0;
      }  
      
ul.main-nav li {
  padding:.5em;
  margin:.5em;
  background-color:#fff;
       }

.main-nav {
	margin-top: 5px;
       
          }

.name a,
.main-nav a {
	 
	text-align: center;
	display: block;
	padding: 10px 15px;
      }
   
.main-nav a {
	font-size: .95em;
	color:  #3a3a3a;
	text-transform: uppercase;

            }
      
.footer-name {
 	margin-right: 150px;
 	margin-left: 30px;
       
        order: -1;
        float: left;
            }
            

/* ---- Layout Containers ---- */

.main-header {

	padding-top: .5em;
	padding-bottom: .5em;
	background: whitesmoke;

            }

.main-footer {

        margin-top:30px;
	margin-bottom: 0;
	background: whitesmoke;
        flex-direction: row;
	justify-content: space-between;	
             }

 .main-footer a {
 	
        color: yellow;
        font-size: .95em;
             }

.row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;

}

.container {
  margin: 45px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
 
}

.skill {
	padding: 15px;
	color: #fff;
	border-radius: 20px;
	width: 320px;
	margin: auto;
        background: #fff;
        justify-content: center;
        align-self: center;
     
}

.skill-1{
	background: seagreen;
	margin: auto;
}

.skill-2 {
	background: yellow;
	margin: auto;
}

.skill-3 {
	background: red;
	margin: auto;
}

.skill-4 {
	background: blue;
	margin: auto;
}

.skill-5 {
	background: gray;
	margin: auto;
}

.skill-6 {
	background: lightblue;
	margin: auto;
}
.row {  
  flex: 1;
  background: #fff;
  justify-content: center;
  align-self: center;
  
     }
     
.banner {
	color: #fff;
	padding-top: 3.2em 0;
	margin-bottom: 24px;
	flex-direction: column;
        background: whitesmoke;
   
        }

.banner-footer {
	 background: linear-gradient(whitesmoke, #fff);
	 
	 padding-right: 2em;
	 padding-left: 2em;
	 color: lightgray;
	 justify-content: space-around;
         align-self: center;
        
            }
  
 .banner-footer-2 {
  width: 90%;	
  align-items: center;
  justify-content: space-around;
  align-self: center;
  border-top: 1px solid lightgray;
  font-size: 1px;
 }

.gallery li {
	background-color: #fff;
	color: #bdc3c7;
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
	width: 320px;
	text-align: center;

}

.gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7
}

/* ---- Page Elements ---- */

.banner-image {
        max-width: 100%;
        padding-right:10px;
        padding-left:10px;
        margin: 2em auto;
        border-radius: 3px;
        box-shadow: 0px 1px 0px rgba(52, 73, 94, 0.2);
        }
 
.tagline {
	max-width: 50%;
	padding-left: 10px;
	color: gray;
	padding-right: 1em;
	padding-left: 1em;
	text-align: left;
          }
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

.main-header,
.row,
.banner,
.row-prtfolio,
.container,
.main-footer,
.banner-footer,

        {
	width: 90%;
	margin: 0 auto;
	}
	
.tagline {
	font-size: 1.4em;
	color: black;
	}
.main-header, 
.main-nav,
.main-nav-footer,
.row,
.banner,
.main-footer,
.banner-footer,
.gallery,
.container,
.row-portfolio,
.banner-footer-2 {
         display: flex;
            }	

.main-header {
          margin-top: 15px;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background: whitesmoke;
             }
 .main-footer {
 	padding-top: 15px;
 }
 .main-footer a {
 	
        color: yellow;
        font-size: 1px;
             }
             
 .footer-name a,
 .main-nav-footer a {
     	margin-top: 15px;
     	margin-bottom: 0;
     }

 .main-nav-footer a {
	justify-content: space-around;
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
      }

 .banner-footer-2 {
               align-items: center;
               justify-content: space-between;
               align-self: center;
               font-size:.95em;
               padding-bottom: 60px;
               }

.row
       {
     flex-wrap: wrap;
     flex-direction: row;
     height: 1100px;
     justify-content: space-around;
     align-self: center;
     background: #fff;
            }
    
  .row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;
  } 
  
 .container {
     flex-wrap: wrap;
     flex-direction: row;
     height: 1100px;
     justify-content: space-around;
     align-self: center;
     background: #fff;
 }


.banner-footer{
	     
	     flex-direction: column
	     justify-content: space-between;
	     flex-wrap: wrap;
	     background: linear-gradient(whitesmoke, #fff);
	     

}

.banner-footer h4 {
             color: gray;	
             font-size: 1.4em;
}

.gallery-1,
.gallery-2 {
 margin-top: 30px;	
}

.gallery li p {
         text-align: center;
         color: gray;
             }

.banner {
         flex-direction: row;
         justify-content: space-around;
          background: whitesmoke;
        }

.tagline {
          order: -1;
         }

 h4{
     	margin-left: auto;
     	margin-right: auto;
     	justify-content: center;
     	items-align: center;
     	width: 885.594px;
     	font-size: 1.4em;
        color:gray;
	margin-bottom: 0;

     }
     
 ul.main-nav li 
  {
  padding:.5em;
  margin:.5em;
  background-color:whitesmoke;
}
 .banner-image {
 	padding: 15px;
 
 	margin-top: 15px;
       	
   }  

}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1025px) {

body{
 background: whitesmoke;
}

.row,
.container,
.main-footer,
.main-header,
.banner,
.row-portfolio,
.banner-footer,
.banner-footer-2
 {
	width: 80%;
	max-width: 1150px;
	}

.main-header {
	    margin-top: 15px;
            flex-direction: row;
            justify-content: space-between;
            background: whitesmoke;
            margin-left: 125px;
           }
           .main-footer a{
           	color: white;
           }
                
.row {   
	flex-direction: row;
	flex: 2 800px;
	 justify-content: center;
         align-self: center;
         background: #fff;
  
      }
      
  .row-portfolio { 
  margin: auto;
  background: #fff;
  justify-content: center;
  align-self: center;
  
 
}


.container {
	flex-direction: row;
	flex-wrap: wrap;
        height: 850px;
        background:white;
}
.skill {
  flex: 1;
}

.skill-1,
.skill-2,
.skill-3
 {
  align-self: center;
 }

.gallery-1,
.gallery-2,
.gallery-3 {
	margin-top:50px;
}

.banner {
        flex-direction: row;
        justify-content: space-around;
        background: whitesmoke;
        margin-left: 125px;
        background: whitesmoke;
        }
        
  .banner-footer-2 {
  	margin-bottom: 20px;
  	background: whitesmoke;
  }
        
 h4  {
     	margin-left: auto;
     	margin-right: auto;
     	justify-content: center;
     	items-align: center;
     	width: 1025px;
     
     }
     
 ul.main-nav li 
   {
  padding:.5em;
  margin:.5em;
  background-color: whitesmoke;
   }
  
}
